{% extends 'pokedex/base.html' %}

{% block content %}
<article>
  <div class="cf pa2">
	{% for poke in pokemon %}
    <div class="fl w-50 w-25-m w-20-l pa2">
      <a href="#" class="db link dim tc">
        <img src="{{ poke.sprite }}" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
        <dl class="mt2 f6 lh-copy">
          <dt class="clip">Name</dt>
          <dd class="ml0 black truncate w-100">{{ poke.name }}</dd>
          <dt class="clip">Types</dt>
          <dd class="ml0 gray truncate w-100">
						{% for type in poke.types.all %}
						{{ type.type }}
						{% endfor %}
					</dd>
        </dl>
      </a>
    </div>
	{% endfor %}
  </div>
</article>
{% endblock content %}