body {
  background-color: crimson;
}

h1 {
  color: navy;
  margin-left: 20px;
}
.header {
  padding: 60px;
  text-align: center;
  background: maroon;
  color: black;
  font-size: 30px;
}
.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4em 1em;
}
.flexcontainer div {
    width: 200px; height: 200px; margin: 5px;
    border: 10px solid darkslateblue;
    font-size: 3em; text-align: center; color: whitesmoke;
    padding-top: 1em;
    position: relative;
}
.flexcontainer span {
    position: absolute; bottom: 5px; right: 5px;
    font-size: 18px; color: cyan;
}
.flexcontainer div:nth-child(1) {
    flex: 1 0 calc(100% - 10px);
}
.flexcontainer div:nth-child(2) {
    flex: 1 0 auto;
}
.flexcontainer div:nth-child(3) {
    flex: 1 0 auto;

}
.item {
  flex-grow: 1;
  height: 100px;
}

.item + .item {
  margin-left: 2%;
}


bottom_bar