<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todos</title>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<h1>Todos</h1>
		<form @submit.prevent="addNewTodo">
			{% csrf_token %}
			<label for="text">New Todo</label>
			<input
				v-model="newTodo"
				type="text"
				id="text"
			/>
			<input type="submit" value="Submit">
		</form>
		<ul>
			<li v-for="todo in todos">[[ todo.text ]]</li>
		</ul>
	</div>
	<script>
		const App = {
			delimiters: ['[[', ']]'],
			data () {
				return {
					todos: [],
					newTodo: '',
					csrf_token: ''
				}
			},
			created() { // runs when the vue app initializes
				this.getTodos()
			},
			mounted() { // runs when the dom content is on the page
				// set this.csrf_token to be the value of the hidden csrf input element
				this.csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
			},
			methods: {
				getTodos () {
					axios({
						method: 'get',
						url: '/get-todos' // same as 'localhost:8000/get-todos' in local development
					})
					.then(res => {
						// console.log(res.data) // {todos: [{text: "review Django", completed: false}, {text: "Learn Vue", completed: true}]}
						this.todos = res.data.todos
					})
				},
				addNewTodo () {
					axios({
						method: 'post',
						url: '/add-new-todo/', // you need the '/' at the end for a post request here 
						headers: { 'X-CSRFToken': this.csrf_token }, // the post request needs the csrf_token snatched out of the dom
						data: { 'text': this.newTodo }
					})
					.then(res => {
						this.getTodos()
						this.newTodo = ''
					})
				}
			}
		}

		Vue.createApp(App).mount('#app')
	</script>
</body>
</html>