
body{
    

    border: 5px solid black;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    width: 100%
}

header{
    background-color: red;
    min-height: 5rem;
}

h1{
    margin: 0px;

}

.entry{

    background-color: seashell;
    max-width: 32%;
    height: auto;
    margin:2%;
    min-width: 30rem;
    flex-grow: 2;
}

#mainEntry{

    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
  justify-content:center;
  align-items: flex-start;

}

#navAndMain{
    display: flex;
}

.entry > p {
    
    margin: 0;
    padding: 1rem;
}

.entry > img{

    float: left;
    max-width: 25vh;
    padding: 5px;

}
#topNav{
    min-height: 3rem;
    background-color: royalblue;

}

#sideNav{
    display: block;
    float: left;
    max-width: 10rem;
    min-width:10rem;
    background-color: salmon;

}