<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Incomplete</h1>
    <ul>
        {% for item in incomplete_list %}
        <li>
            {{ item.text }}
            <button><a href="{% url 'groceryapp:remove_item' item.id %}">delete</a></button>
            <button><a href="{% url 'groceryapp:complete' item.id %}">complete</a></button>
        </li>
        {% endfor %}
    </ul>
    <h1>Completed</h1>
    {% for item in completed_list %}
    <li>
        {{item.text}}
        <button><a href="{% url 'groceryapp:remove_item' item.id %}">delete</a></button>
    </li>
    {% endfor %}


    <form action='/newitem/' method = 'POST'>
        {% csrf_token %}
        <input type="text" name="text"/>
        <button type="submit">submit</button>
    </form>
     
  </body>
</html>