{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'grocery_list/style.css' %}">


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Complete</title>
</head>

<body>

<form action="complete" method ="POST">
    {% csrf_token %}
<table>
    <tr>
        <th>Item</th>
        <th>Created date</th>
        <th>Completed date</th>
        <th>completed</th>
        <th>complete?</th>
    </tr>
    {% if grocery_item_list %}

    {% for items in grocery_item_list %}
        {%if items.completed == True %}
        <tr>
            <td><s>{{items.description}}</s></td>
            <td><s>{{items.created_date}}</s></td>
            <td><s>{{items.completed_date}}</s></td>
            <td><s>{{items.completed}}</s></td>
            <td><input type="radio" name = "id" id = "id" value = {{ items.id }} disabled></td><br>           
    
        </tr>
        {% else %}
    <tr>
        <td>{{items.description}}</td>
        <td>{{items.created_date}}</td>
        <td>{{items.completed_date}}</td>
        <td>{{items.completed}}</td>
        <td><input type="radio" name = "id" id = "id" value = {{ items.id }}></td><br>
        

    </tr>
    {%endif%}

</table>

{% endfor %}
{% else %}
<p>No more items.</p>
{% endif %}

<button type="submit">Submit</button>


</form>

</body>


</html>
