
*{
    font-family: 'Vujahday Script', cursive;
 color:#bcc3eb
}
body {
    background-color:#50616E ;
}
p {
    text-align: center;
    margin:"600";
    padding:"600";
}
h1{
    color:#38b4cc
    
}
ol{
    color: #ADE25D
}
ul{
    color: #CFFFB3
}

a:link {
    color: #ffffff;
  } 
a:visited{
    color: #ec20a8;
  }
a:hover {
    color: #ADE25D;
  }
img{
    align:center
}