<h1>{{ grocery.description | title}}</h1>
<hr/>
<h3>Added on {{ grocery.created_date }}</h3>
<hr/>
{% if grocery.completed == True %}
<h3>Bought on {{grocery.completed_date}}</h3>
{% else %}
<h3>Need to buy!</h3>
{% endif %}



<hr/>

Bought: {{ grocery.completed }}
<a href="{% url 'grocery:update' grocery.id %}">
	<button>Update</button>
</a> 

<hr/>

<a href="{% url 'grocery:index' %}">
	<button>Home</button>
</a>

<a href="{% url 'grocery:delete' grocery.id %}">
	<button>Delete</button>
</a>



