<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
</head>

<body>
    <h1>Need to Buy</h1>

    <form action="/" method="POST">
        {% csrf_token %}
        <p>New Entry</p>
        <input type="text" name="description">
        <!-- <p>Body</p>
        <textarea name="body" cols="60" rows="10"></textarea> -->
        <div>
            <button type="submit">Submit</button>
        </div>
        <!-- <p>Purchased?</p>
        <label for="completed">Yes</label>
        <input type="radio" id="completed" name="completed"> -->
    </form>
    </form>

    <!-- <ul>
        {% for grocery in grocery_list %}
        <article>
            <h3>{{grocery}}</h3>
            {% if grocery.completed == True %}
            <h5>Bought on {{grocery.completed_date}}</h5>
            <button>Add to list</button> -->
            <!-- {% else %} -->
            <!-- <h5>Need to buy!</h5> -->
            <!-- <button>Bought</button> -->
            <!-- {% endif %} -->
            <!-- <button>Edit</button> -->

            <!-- <h5>Bought: {{grocery.completed}} on {{grocery.completed_date}}</h5> -->
        <!-- </article> -->
        <!-- {% endfor %} -->
    <!-- </ul> -->
    <h1>Bought Items</h1>
        <ul>
            {% for grocery in complete_list %}
                
            <strike>
            <li><a href="{% url 'grocery:detail' grocery.id %}">{{ grocery.description | title }}</a></li>
            </strike>

            {% endfor %}
        </ul>

    <hr>
    <h1>Need to Buy</h1>
        <ul>
            {% for grocery in incomplete_list %}
                    <li><a href="{% url 'grocery:detail' grocery.id %}">{{ grocery.description | title }}</a></li>

            {% endfor %}
        </ul>
</body>

</html>