<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Quote Search</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script src="quotes.js" defer></script>
</head>

<body>
    <div id="app">
        {{ message }}
        
        <br>

        <h1>Random Quotes</h1>
        <p v-for="quote in random">"{{ quote.body }}" -By. {{ quote.author }} </p>

        <form @submit.prevent="searchKeyword">
            <input type="text" v-model="searchKeywords">
            <button type="submit">Search Keyword</button>
        </form>

        <form @submit.prevent="searchAuthor">
            <input type="text" v-model="searchAuthors">
            <button type="submit">Search Author</button>
        </form>

        <form @submit.prevent="searchTag">
            <input type="text" v-model="searchTags">
            <button type="submit">Search Tag</button>
        </form>


        <p v-for="search in searchResults">"{{ search.body }}" - {{ search.author }}</p>

        <div>
            
            <button @click="prevPage">Previous page</button>
            <button @click="nxtPage">Next page</button>
    
        </div>


    </div>

   
    
</body>

</html>