<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Quote Search</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script src="quotes.js" defer></script>
</head>

<body>
    <div id="app">
        {{ message }}
        
        <br>

        <h1>Random Quotes</h1>
        <p v-for="quote in random">"{{ quote.body }}" -By. {{ quote.author }} </p>

        <br>

        
        <h2>Search Quotes</h2>
        
        <form @submit.prevent="searchQuotes">

            <input type="text" v-model="searchTerm" />
            <select name="searchType" id="searchType">
              <option value="keyword">Keyword</option>
              <option value="author">Author</option>
              <option value="tag">Tag</option>
            </select>
            <input type="submit" value="Search" />

        </form>

        <div>
            <div v-for="search in searchResults">
                <p class="text">"{{ search.body }}"</p>
                <p class="author">{{ search.author }}</p>
                <hr>
            </div>

            <div>

                <button @click="prevPage">Prev. Page</button>
                <button @click="nxtPage">Next Page</button>
            </div>
        </div>

    </div>


    </div>

   
    
</body>

</html>