{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<article>
    <header class="bg-gold sans-serif flex items-center">
        <div class="mw9 center pa4 pt5-ns ph7-l">
            <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
                <span class="bg-black-90 lh-copy white pa1 tracked-tight">
                    {{ post.title }}
                </span>
            </h3>
            <h5 class="f6 ttu tracked black-80"><strong> By {{ post.user }}</strong> </h5>
            <time class="f6 mb2 dib ttu tracked"><small><strong>{{ post.created_on }}</strong></small></time>
        </div>
    </header>
    <div class="pa4 ph7-l georgia mw9-l center flex justify-center">
        <p class="f5 f4-ns lh-copy measure">
            {{ post.post | safe }}
        </p>
    </div>
</article>

<div class="col-md-8 card mb-4  mt-3">
    <div class="card-body">
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                    {{ comment.created_on }}
                </span>
            </p>
            {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-md-8 card mb-4  mt-3 ">
    <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
            Your comment is awaiting moderation
        </div>
        {% else %}
        <h3 class="tc py-4 has-text-weight-bold">Leave a comment</h3>

        <form method="post" style="padding-bottom: 40px; padding-right: 8rem;">
            {% csrf_token %}
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">From</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="text" placeholder="Name">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left has-icons-right">
                            <input class="input is-success" type="email" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Comment</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" placeholder="Write comment here"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">
                                Send message
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
</div>
</div>
{% endblock content %}