@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
a {text-decoration: none}
ul {list-style: none}
body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span {
    color: #f33c3c;
    margin-top: 2rem;
}
.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img {
    width: 100%;
}
.blog-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
    /* text-align: center; */
}
.blog-text .blog-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #272727;
}
.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}
.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a {
    color: #0f0f0f;
}
.blog-text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}
@media(max-width:1250px) {
    .blog-box {
        width: 300px;
    }
}
@media(max-width:1100px) {
    .blog-box {
        width: 70%;
    }
}
@media(max-width:550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }
    #blog {
        padding: 20px;
    }
}
header {
    background: #dad7cd;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
.nav-toggle-label span::before {
    bottom: 7px;
}
.nav-toggle-label span::after {
    top: 7px;
}
nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
nav a:hover {
    color: #000;
}
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
@media screen and (min-width: 800px) {
.nav-toggle-label {
    display: none;
}
header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}
.logo {
    grid-column: 1 / 3;
}
nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul {
    display: flex;
}
nav li {
    margin-left: 3em;
    margin-bottom: 0;
}
nav a {
    opacity: 1;
    position: relative;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}
nav a:hover::before {
    transform: scale(1,1);
}
