body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    background-color:blanchedalmond;
    color: black;
    margin: 0;
    padding: 1cm;
    font-size: x-large;
    text-align: center;
}
p {
    background-color:royalblue;
    margin: 2mm;
    padding: 1rem 0;
    text-align: left;
}
h2 {
    background-color: yellow;
    margin: 2mm;
    padding: 1rem 0;
    text-align: center;
    font-size: medium;
    font-style: italic;
}
h3 {
    color: black;
    font-size: x-large;
    text-align: left;
}
ul {
    color: black;
    font-size: large;
    text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
a:link, a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    color: red;
}