<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{% url 'groceries:add' %}" method="POST">
        {%csrf_token%}
        <input type="text" name="groceryitem" />
        <button type="submit">Submit</button>
    </form>

            {% for item in grocery_list %}
            {% comment %} <div style="flex-wrap: wrap;flex-direction: row; display:flex text-align="center"> {% endcomment %}
            <h4 >{{ item.description }}</h4>
            <li>Status (complete): {{ item.completed }}</li>


            <a href="{% url 'groceries:delete' item.id %}">Delete</a>
            <br>
            <a href="{% url 'groceries:complete' item.id %}">Complete</a>
            {% comment %} </div> {% endcomment %}
            {% endfor %}
    
    <h1> Incomplete </h1>
    <ul>
        {% for item in incomplete_list %}
        <li>{{item.description}}</li>
        {% endfor %}
    </ul>
    <h1> Complete </h1>
    <ul>
        {% for item in completed_list %}
        <li>{{item.description}}</li>
        {% endfor %}
    </ul>


</body>

</html>