@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: #202C39;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #DBC2CF;
}

/* h1, h3 {
    text-align: center;
} */
/* 
img {

    margin-left: 400px;
} */
p {
    padding : 10px;
    margin: 30px;
}

ul {
    padding-left: 47%;
}

h2 {
    font-family: 'Oooh Baby', cursive;
}

ul {
    text-align: left;
}

a:link {
    color: firebrick;
}

a:visited{
    color: #D7CEB2
}

img {
        border-radius: 25px;
        background: #7EB77F;
        padding: 10px;
        width: 600px;
        height: 400px;
}