@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
	font-family: 'Inter', sans-serif;
}

h1 {
	color: red;
	text-decoration: line-through;
}

h3 {
	color: blue;
	background-color: chartreuse;
	text-align: center;
}

ol {
	border: 2px dashed black;
}