<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Todo List</title>

  <link rel="stylesheet" href="css/site.css" />
</head>

<body>

  <h1>Todo List</h1>

  <div id="todo-list-app">
    <table>
      
      <tr>
        <th>
          List
        </th>
      </tr>

      <tr v-for="item in items">
        <td>
          <input type="radio" :id="item.id" :value="item.id" name="radio" v-model="selectedRadio">
        </td>

        <td>
          <label :for="item.id" v-if="item.completed == false">{{ item.todo }}
          </label>

          <label :for="item.id" v-if="item.completed == true"><s>{{ item.todo }}</s>
          </label>
        </td>
      </tr>

    </table>

    <div id="form-buttons">

      <label for="add-textbox">Enter new todo: </label>
      <input id="add-textbox" type="text" v-model="newTodo"><br>

      <div id="form-buttons">

        <button id="add-button" type="submit" @click="addToList">Add</button>
        <button id="remove-button" type="submit" @click="removeFromList">Remove</button>
        <button id="complete-button" type="submit" @click="completedItem">Complete</button>

      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script src="js/site.js"></script>

</body>

</html>