<head>
	<style>
		.completed {
			text-decoration: line-through;
		}
		li > form {
			display: inline;
		}
	</style>
</head>

<h1>Grocery List</h1>
<p>Welcome
	{% if request.user.is_authenticated %}
		{{ request.user.username }}
	{% else %}
		Guest
	{% endif %}
</p>

<form action="/add/" method="post">
	{% csrf_token %}
	<label for="description-input">Description:</label>
	<input type="text" id="description-input" name="description">
	<input type="submit" value="Submit">
	<!-- <button type="submit">Submit</button> -->
</form>

<ul>
	{% for grocery in groceries %}
	<li>
		<span
		{% if grocery.completed %}
		class="completed"
		{% endif %}
		>
		{{ grocery.description }}
		</span>
		<form action="/delete/{{ grocery.id }}/" method="POST">
			{% csrf_token %}
			<input type="submit" value="delete">
		</form>
		<form action="/complete/{{ grocery.id }}/" method="POST">
			{% csrf_token %}
			<input
				type="submit"
				value="{% if grocery.completed %}in{% endif %}complete"
			>
		</form>
	</li>
	{% endfor %}
</ul>