.app{
    align-content: center;
    

}






.input{
    align-content: center;
    background-color: royalblue;

}




.butt{
    align-content: center;
    color: yellow;

}




.butt2{
    align-content: center;
    background-color: brown;
    

}





.butt3{
    align-content: center;
    background-color: magenta;

}





