

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
h1{
    font: 2em sans-serif;
    color: white;
    width: 100%;
    margin-top: 3vh;
    
    
}


header{
    max-height: 10vh;
    display: flex;
    text-align: center;
    background-color: #563CEB;   
    max-width: 100vw;

}

footer{
    background-color: lightseagreen;
    min-height: 3vh;
}

h4{
    margin: 0px;

}

#mainView{
    display:flex;
    flex-direction: column;
    max-width: 100vw;
}

#mainView > img{
    width: auto;

}

#mainText > h2{

    margin: 10px;
    text-align: center;

}

#mainText > p{

    margin: 10px;
    text-align: center;

}






content{
    display:flex;
    flex-direction: column;
    max-width: 100vw;


    margin: 10px;
    text-align: left;
    border: black solid 2px;
}

content > img{

    width: auto;

}


.horizontalFlex{

    display: flex;
    border-color: red;

}

.horizontalFlex > h4{

   
    margin: 20px 0 20px 0 ;

}




/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color:#4654F2;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #FA3131;
  }



}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
h1{
        font: 1em sans-serif;
    
}

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {h1{
    font: 1em sans-serif;

}
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {h1{
    font: 1em sans-serif;

}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1{
    font: 1em sans-serif;
}

}