* {
    box-sizing: border-box;
}


header > h1{
    font: 2em sans-serif;
    color: white;
    width: 100%;  
    
}
a.icon{
    padding-right: 0;

}

body{

    width: 100%;
}

#shoppingCart{

    width: 30px;
    height: 30px;
    
    
}

body{
    margin: 0;
}

header{
    max-height: fit-content;
    display: flex;
    text-align: center;
    background-color: #563CEB;   
    width: 100%;

}

footer{
    background-color: lightseagreen;
    min-height: 3vh;
}

footer > h4{
    margin: 0px;

}

#mainView{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15vh;
}

#mainView > img{
    width: auto;

}

#mainText > h2{

    text-align: center;

}

#mainText > p{
    
    text-align: center;

}


content{
    display:flex;
    flex-direction: column;
    width: 100%;

    text-align: center;

    margin-bottom: 5vh;
}

content > img{

    width: auto;

}


.horizontalFlex{

    display: flex;
    border: lightgray solid 5px;


}

.horizontalFlex > h4{
   
    margin: 20px 0 20px 0 ;

}

header > img{


    max-width:100%;
    height: auto;
}

nav{ margin-bottom: 5vh;
}


/*mobile hamburger nav*/

  .mobile-container {
    width: 100%;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }


.navbar{

    display: none;
}

#fullLogo{

    display: none;
}


/* Small devices (portrait tablets and large phones,450px and up) */
@media only screen and (min-width: 450px) {

#mobileLogo{

    display: none;
}

#fullLogo{
    display: block;
}

.topnav{

    display: none;
}
/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color:#4654F2;
    overflow: auto;
    display: block;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #FA3131;
  }



h1{
        font: 1em sans-serif;    
}

footer{

    margin-top: 5vh;

}

content{
    
    display:flex;
    text-align: left;
 
    width: 45%;

}

content > img{

    width: auto;
    max-width: 100%

}

main{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}


#mainView{


    width: 100%;

    margin-bottom: 10vh;
}

#mainView > img{

    height: auto;
    width: 70%;

}


#mainText > h2{

    text-align: center;

}

#mainText > p{
    
    text-align: center;

}


.horizontalFlex{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 90%;
    height: 40vh;
}

.horizontalFlex > img{


    height: 70%;
    width: auto;
    
}

.horizontalFlex > h4{

    flex-grow: 1;
    width: 40%;

}




}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



main{
    font: 1.5em sans-serif;


}

main{
    
    max-width: 800px;
    margin: auto;
}

.navbar{
    font-size: 1.2em;
}



#mainView > img{

    max-width:500px;
    
}
#mainView{

    display:flex;
    flex-direction: row;
    max-height: 500px;
    width: 100%;

    margin-bottom: 10vh;
}
#mainText{
    width: 30%;
    text-align: center;
    margin-top: 20%;

}

}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {h1{
    font: 1em sans-serif;
}

main{
    font: 2em sans-serif;


}

.navbar > a{
    font-size: 1.5em;
}

#mainView{

    max-width: 90%;
    justify-content: center;

}

main{

    max-width: 800px;
}



}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h{

    font: 1em sans-serif;
}



main{
    font-size: 3em;
}


body{
    justify-content: center;
    margin: auto;
    max-width: 1200px;

}
}