<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h3>Incomplete items</h3>
    <ul>
        {% for item in incomplete_list %}
        <li>{{ item.description}}
            <form method="POST" action="/complete/{{ item.id }}">
                <button type="submit">Complete</button>
                {% csrf_token %}
            </form>
            <form method="POST" action="/delete/{{ item.id }}">
                <button type="submit">Delete</button>
                {% csrf_token %}
            </form>
        </li>
        {% endfor %}
    </ul>
    <h3>Completed items</h3>
    <ul>
        {% for item in completed_list %}
        <li>{{ item.description}}
            <form method="POST" action="/incomplete/{{ item.id }}">
                <button type="submit">Incomplete</button>
                {% csrf_token %}
            </form>
            <form method="POST" action="/delete/{{ item.id }}">
                <button type="submit">Delete</button>
                {% csrf_token %}
            </form>
        </li>
        {% endfor %}
    </ul>

    <form action='/' method='POST'>
        {% csrf_token %}
        <input type='text' name='description'>
        <button type="submit">click here</button>


    </form>
</body>

</html>