<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<style>
		.completed {
			text-decoration: line-through;
		}
	</style>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="main.js" defer></script>
</head>
<body>
	<div id="app">

		<h1>Todos</h1>
		<form @submit.prevent="addNewTodo" action="">
			<label for="todo">New Todo</label>
			<input type="text" id="todo" v-model="newTodo">
			<button type="submit">Add Todo</button>
		</form>

		<h3>Todos</h3>
		<ul>
			<li v-for="todo in incompleteTodos">
				<span>
					{{ todo.text }}
				</span>
				<button @click="toggleComplete(todo)">Complete</button>
				<button @click="deleteTodo(todo)">Delete</button>
			</li>
		</ul>

		<h3>Todones</h3>
		<ul>
			<li v-for="todo in completedTodos">
				<span>
					{{ todo.text }}
				</span>
				<button @click="toggleComplete(todo)">Un-Complete</button>
				<button @click="deleteTodo(todo)">Delete</button>
			</li>
		</ul>

	</div>
</body>
</html>