figure.doggo-container {
	border: 2px solid black;
	width: 25rem;
}

figure.doggo-container > img {
	width: 100%;
}

figure.doggo-container > h3 {
	text-align: center;
}

figure.doggo-container > p {
	text-align: center;
	margin: 1rem;
	/* padding: 1rem; */
	height: 10.3rem;
	overflow: hidden;
	/* white-space: nowrap;
	text-overflow: ellipsis; */
}

body {
	display: flex;
	flex-wrap: wrap;
}