<!-- <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <script src="https://kit.fontawesome.com/9572697c4a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style type="text/css" media="screen">
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        #wrapper {
            flex: 1;
        }
    </style>
</head>
<header class="bg-black-90 fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
    <nav class="f6 fw6 ttu tracked">
        <a class="link dim white dib mr3" title="Home" href="/">Chirp</a>
        <a class="link dim white dib mr3" href="admin" title="About">Admin</a>
        <a class="link dim white dib mr3" href="{% url 'users:register' %}" title="Store">Register</a>
        <a class="link dim white dib" href="{% url 'users:login' %}" title="Contact">Log in</a>
        {% if user.is_authenticated %}
        <a class="link dim white dib" href="{% url 'users:logout' %}" title="Contact">Log out</a>
        {% endif %}
    </nav>
</header>
<div class="col text-center tc b pv5">
    {% if user.is_authenticated %}
    <Welcome class="fs-3">Welcome, {{ user.username }}</Welcome>
    {% endif %}
</div>

<footer class="pv4 ph3 ph5-m ph6-l mid-gray fixed left-0 bottom-0 right-0">
    <small class="f6 db tc">© 2022 <b class="ttu">Chirp Inc</b>., All Rights Reserved</small>
    <div class="tc mt3">
        <a href="#" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
        <a href="#" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
        <a href="#" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
    </div>
</footer>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <script src="https://kit.fontawesome.com/9572697c4a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<header class="bg-black-90 fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
    <nav class="f6 fw6 ttu tracked">
        <a class="link dim white dib mr3" title="Home" href="/">Chirp</a>
        <a class="link dim white dib mr3" href="{% url 'users:register' %}" title="Store">Register</a>
        <a class="link dim white dib" href="{% url 'users:login' %}" title="Contact">Log in</a>
        {% if user.is_authenticated %}
        <a class="link dim white dib" href="{% url 'users:logout' %}" title="Contact">Log out</a>
        {% endif %}
    </nav>
</header>

<div class="tc pt6">
    {% if user.is_authenticated %}
    <Welcome class="fs-3">Welcome, {{ user.username }}</Welcome>
    {% else %}
    <Welcome class="fs-3">Welcome to Chirp</Welcome>
    {% endif %}
</div>

<body style="height:100%; width:100%">
    {% block content %}
    {% endblock content %}
</body>

<footer class="pv4 ph3 ph5-m ph6-l mid-gray"
    style="position:absolute; bottom:0px; height:100px; left:0px; right:0px; overflow:hidden;">
    <small class="f6 db tc">© 2022 <b class="ttu">CHIRP Inc</b>., All Rights Reserved</small>
    <div class="tc mt3">
        <a href="#" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
        <a href="#" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
        <a href="#" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
    </div>
</footer>

</html>