<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style type="text/css" media="screen">
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        #wrapper {
            flex: 1;
        }
    </style>
</head>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://www.vhv.rs/dpng/d/598-5982648_twitter-white-twitter-icon-transparent-hd-png-download.png"
                width="35" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item has-text-weight-bold" href="admin">
                Admin
            </a>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary" href="{% url 'users:register' %}">
                    <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="{% url 'users:login' %}">
                    <strong>Log in</strong>
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>

{% block content %}
{% endblock content %}

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Chirp</strong> by d'Artagnan Childers &copy; 2022
        </p>
    </div>
</footer>

</html>