<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <header>
        <h1 class ="text-4xl text-center">
            Welcome To Your Grocery List
        </h1>
        <form
			action = '/colors/new-color/'
			method = 'POST'
			class = 'border-2 px-6 py-6'
        >

                {% csrf_token %}
                <label for = 'item-input'>New Grocery Item</label>
                <input type = 'text' class = 'border-4' id ='item-name' name = 'item'>
                <input type ='submit' value = 'Submit' class = 'cursor-pointer border-2 px-4'>
        </form>

    </header>
    <main class=""
</body>
</html>