<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Todo List</title>
    <!-- <style>
		.completed {
			text-decoration: line-through;
		}
	</style> -->

</head>

<body>
    <div id="app">
        {{ message }}
        <h1> Todo List</h1>
        <form @submit.prevent='addTask' action="">
            <input @change="logEvent" type="text" v-model="newTask">
            <button type="submit">ToDo</button>
        </form>

        <ul>
            <li v-for="task in taskList">
                <span>{{ task }}</span>
                <button @click="completeTask">Complete</button>
                <button v-on:click="removeTask(task)">Remove</button>
            </li>
        </ul>
        <h2> Completed</h2>
        <ul>
            <li v-for="task in completeList">
                <span>{{ task }}</span>
                <button v-on:click="deleteTask(delete)">Remove</button>
            </li>
        </ul>


    </div>





    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Include your code here... -->
    <script src="toDoVue.js"></script>
</body>

</html>