<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@next"></script>
	<script src="toDoVue.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

		<h1>Todos</h1>
		<form @submit.prevent="addNewTodo" action="">
			<label for="todo">New Things To Do</label>
			<input type="text" id="todo" v-model="newTodo">
			<button type="submit">Add Todo</button>
		</form>

		<h3>Todo</h3>
		<ul>
			<li v-for="todo in incompleteTodos">
				<span>
					{{ todo.text }}
				</span>
				<button @click="toggleComplete(todo)">Completed</button>
				<button @click="deleteTodo(todo)">Remove</button>
			</li>
		</ul>

		<h3>Completed</h3>
		<ul>
			<li v-for="todo in completedTodos">
				<span>
					{{ todo.text }}
				</span>
				<button @click="toggleComplete(todo)">Not Completed</button>
				<button @click="deleteTodo(todo)">Delete</button>
			</li>
		</ul>

	</div>
    
</body>
</html>