body{text-align: center;
color: whitesmoke;}

p{padding: 25px;
margin: 10px 10px 10px 10px;}

p{font-family: Verdana, Geneva, Tahoma, sans-serif;}

body {
    background-image: url('https://images.unsplash.com/photo-1508402476522-c77c2fa4479d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  a{color:magenta}

q{font-family:cursive}

img{border-radius: 100px;
    border: 10px solid purple;
    padding: 5px;}

ul{list-style-type: square;
list-style-position: inside;}

