body{display: flex;
    flex-direction:column;
    align-items: center;
background-color: #343E70;}

main{display:flex;
}

header{background-color: #6376D6;
text-align: center;
height: 80px;
margin: 0px;
display: flex;
border: 1vh solid black;
border-radius: 10vh;}

.top-navbar{ height: 50px;
    flex-direction: row;
    background-color: #5262B3;
    display:flex;
    border: 5px solid black;
    border-radius: 50px;
    justify-content: space-evenly;
    width: 100vh;
    
}

.sidebar{flex-direction: column;
background-color: #748BFC;
border:5px solid black;
border-radius: 50px;
width: 100px;
justify-content: space-evenly;
display: flex;}

.art-container {background-color: #748BFC;
    border: 10px solid black;
border-radius: 50px;
}

h1, h2, h3{text-align: center;}

img{}