{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
	{% for post in posts %}
	<div class="col s12 m6">
		<div class="card medium">
			<div class="card-image">
				<img class="responsive-img" src="https://picsum.photos/500">
				<span class="card-title">{{ post }}</span>
				<a href="/post/{{ post.id }}/" class="btn-floating halfway-fab waves-effect waves-light red"><i
						class="material-icons">add</i></a>
			</div>
			<div class="card-content">
				<p>{{ post.body }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}