@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

section {
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #F0FFFF;
    scroll-snap-align: start;
}
.headers {
    height: 100px;
    width: 400px; /** Use 100% to fill the width of the page **/
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
p {
    margin: 0 2rem;
    padding: 1.5rem 0;
    text-align: center;
}
.one {
    background-image: url("https://images.unsplash.com/photo-1457364887197-9150188c107b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
}
.two {
    background-image: url("https://www.hdcarwallpapers.com/walls/tesla_roadster_4k-HD.jpg");
    background-size: cover;
}
.three {
    background-image: url("https://cdn.thomasnet.com/insights-images/e6efd4ea-b29a-4f7e-86e9-0d8d1a907fc1/750px.png");
    background-size: cover;
}
ul {
    margin: 0 2rem;
}
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
