body {
  background-color: crimson;
}

.topnav {
  background-color: black;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: whitesmoke;
  text-align: left;
  padding: 12px 18px;
  font-size: 20px;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: navy;
  color: whitesmoke;
}
h1 {
  color: navy;
  margin-left: 20px;
}
.header {
    font-family: "Book Antiqua";
  padding: 30px;
  text-align: center;
  background: maroon;
  color: black;
  font-size: 30px;
}
.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4em 1em;
}
.flexcontainer div {
    width: 200px; height: 200px; margin: 5px;
    border: 10px solid darkslateblue;
    font-size: 2em; text-align: center; color: whitesmoke;
    justify-content: center;
    display: flex;

    padding-top: 1em;
    position: relative;
}
.flexcontainer span {
    position: absolute; bottom: 5px; right: 5px;
    font-size: 10px; color: cyan;
}
.flexcontainer div:nth-child(1) {
    flex: 1 0 calc(100% - 10px);
}
.flexcontainer div:nth-child(2) {
    flex: 1 0 auto;
}
.flexcontainer div:nth-child(3) {
    flex: 1 0 auto;

}
.item {
  flex-grow: 1;
  height: 100px;
}

.item + .item {
  margin-left: 2%;
}


.bottom_bar{
    background-color: black;
  overflow: hidden;
}