<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fav Quotes</title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="main.js" defer></script>

    <style>
        input {

            padding: 5px;
            margin: 5px;
        }

        #searching {
            margin-left: 175px;
        }
    </style>

</head>

<body>

    <div id="app" class="container w-50 my-4">

        <header class="tc pv4 pv2-ns">
            <img src="https://www.kindpng.com/picc/m/17-179131_quote-rdquo-quote-icon-png-free-transparent-png.png"
                class="br-100 pa1 ba b--black-10 h3 w3" alt="avatar">
            <h1 class="f5 f4-ns fw6 mid-gray">Fav Quotes</h1>
        </header>

        <h3><strong>Random Quotes</strong></h3>

        <p v-for="quote in favQuote" class="my-3">"{{ quote.body }}" - {{ quote.author }} </p>

        <h3 id="searching">Search for a quote</h3>

        <form @submit.prevent="findKeyword">
            <input type="text" placeholder="Enter keyword" v-model="userKeyword">
            <button type="submit">Search</button>
        </form>

        <form @submit.prevent="findTag">
            <input type="text" placeholder="Enter tag" v-model="userTag">
            <button type="submit">Search</button>
        </form>

        <form @submit.prevent="findAuthor">
            <input type="text" placeholder="Enter author" v-model="userAuthor">
            <button type="submit">Search</button>
        </form>

        <p v-for="found in foundQuotes">"{{ found.body }}" - {{ found.author }}</p>

        <div>
            <button @click="previousPage" class="mr-2">Previous</button>
            <button @click="nextPage">Next page</button>

        </div>

    </div>


</body>

</html>