<h1>CHIRP</h1>

<h2>New chirp:</h2>
<form action="/" method="POST">
	{% csrf_token %}
	<textarea name="body" cols="120" rows="15"></textarea>
	<button type="submit">click me</button>
</form>

<ul>
	{% for chirp in chirps %}
	<li><a href="{% url 'chirp:chirp' chirp.id %}">{{ chirp }}</a></li>
	hello!
	{% endfor %}
</ul>

<head>
	<style>
		.completed {
			text-decoration: line-through;
		}
		li > form {
			display: inline;
		}
	</style>
</head>

<h1>chirp</h1>
<p>Welcome
	{% if request.user.is_authenticated %}
		{{ request.user.username }}
	{% else %}
		Guest
	{% endif %}
</p>

<form action="/add/" method="post">
	{% csrf_token %}
	<label for="description-input">Description:</label>
	<input type="text" id="description-input" name="description">
	<input type="submit" value="Submit">
	<!-- <button type="submit">Submit</button> -->
</form>

<ul>
	{% for x in chirp %}
	<div class= 'chirps'>
		<span
		{% comment %} {% if chirp.completed %}
		class="completed"
		{% endif %} {% endcomment %}
		>
		{{ x.body }}

		{% comment %} where would I enter {{chirp.body}}, {{chirp.date}} {{chirp.user}}? {% endcomment %}
		</span>
		<form action="/delete/{{ chirp.id }}/" method="POST">
			{% csrf_token %}
			<input type="submit" value="delete">
		</form>
		{% comment %} <form action="/complete/{{ chirp.id }}/" method="POST">
			{% csrf_token %}
			<input
				type="submit"
				value="{% if chirp.completed %}in{% endif %}complete"
			>
		</form> {% endcomment %}
	</div>
	{% endfor %}
</ul>
